# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore
!/.vscode/*.json
!/.vscode/ltex.dictionary.*.txt
!/.github/**/*
!/.devcontainer/**/*

# don't ignore YAML configs in sub directories EXCEPT the deployments folder
# tree
!**/*.yaml
deployments/**/*.yaml

!*.md
!*.go
!go.sum
!go.mod
!*.json

!README.md
!LICENSE

# !Makefile

# ...even if they are in subdirectories
!*/

# always ignore the generated init.go and apps dir
internal/agent/init.go
apps

## always ignore the dist folder
dist
.devcontainer/.env
